<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to ReferenceArch!</h1>
  <img
    width="300"
    alt="holisticon Logo"
    src="https://holisticon.de/assets/img/holisticon-main-logo.png"
  />
</div>
<h2>Here are some links to help you start:</h2>
<ul>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://angular.io/tutorial"
        >Tour of Heroes</a
      >
    </h2>
  </li>
  <li>
    <h2>
      <a
        target="_blank"
        rel="noopener"
        href="https://github.com/angular/angular-cli/wiki"
        >CLI Documentation</a
      >
    </h2>
  </li>
  <li>
    <p-button
      label="Print Applications"
      (onClick)="printApplications()"
    ></p-button>
  </li>
  <div>
    <span *ngFor="let app of apps">
      {{ app.name }} ({{ app.applicationId }})
    </span>
    <p *ngIf="!apps || apps.length === 0">No Applications found...</p>
  </div>
</ul>
